@import "themes/ran3";

iframe[src*="fluidads"] {
  display: none;
}

body[data-engrid-page-type="donation"][data-engrid-payment-type="paypal"]:not([data-engrid-currency-code="USD"]),
body[data-engrid-page-type="donation"][data-engrid-payment-type="paypaltouch"]:not([data-engrid-currency-code="USD"]),
body[data-engrid-page-type="premiumgift"][data-engrid-payment-type="paypal"]:not([data-engrid-currency-code="USD"]),
body[data-engrid-page-type="premiumgift"][data-engrid-payment-type="paypaltouch"]:not([data-engrid-currency-code="USD"]) {
  .en__submit {
    display: none;
  }
}

body:not(#en__pagebuilder) {
  .optin-ladder {
    display: none;
  }
}


[data-engrid-page-type="click2call"] {

  .en__overlay {
    background: none;
    padding: 0;
    border: 2px solid var(--color_primary);

    .en__overlay__header {
      background: var(--color_white);

      h2 {
        color: #fff;
      }
    }
  }

  .en__overlay__content {
    background: var(--engrid__body-main_background-color);
  
    .en__c2c__actions {
      justify-content: space-evenly;
    }
  }
  
  .en__contact__detail {
    .en__button {
      font-size: 1.5rem;
  
      @media screen and (min-width: 769px) {
        font-size: 1.7rem;
      }
    }
  }
  
  // Adjust font size for buttons on desktop
  @media screen and (min-width: 769px) {
    .en__c2c__survey__rating {
      button {
        font-size: 1.7rem;
      }
    }
  }
}



