@import "themes/ran3";

iframe[src*="fluidads"] {
  display: none;
}

body[data-engrid-page-type="donation"][data-engrid-payment-type="paypal"]:not([data-engrid-currency-code="USD"]),
body[data-engrid-page-type="donation"][data-engrid-payment-type="paypaltouch"]:not([data-engrid-currency-code="USD"]),
body[data-engrid-page-type="premiumgift"][data-engrid-payment-type="paypal"]:not([data-engrid-currency-code="USD"]),
body[data-engrid-page-type="premiumgift"][data-engrid-payment-type="paypaltouch"]:not([data-engrid-currency-code="USD"]) {
  .en__submit {
    display: none;
  }
}

body:not(#en__pagebuilder) {
  .optin-ladder {
    display: none;
  }
}

[data-engrid-theme="engrid-ran3"] {

  // Adjust font size for buttns no mobile
  @media screen and (max-width: 768px) {
    .en__c2c__actions {
      .en__button--cancel, .en__button--confirm {
        font-size: 1.2rem !important;
      }
    }
  }

  // Adjust font size for buttons on desktop
  @media screen and (min-width: 769px) {
    .en__c2c__survey__rating {
      button {
        font-size: 1.5rem !important;
      }
    }
  }

}
