<!-- Load ENGrid's Javascript Asynchronous -->
<script async src="../engrid.js"></script>

<!-- Start Render Critical Javascript -->
<script>
    // 4Site's simplified image lazy loader
    var srcDefer = document.querySelectorAll("img[data-src]");
    for (var i = 0; i < srcDefer.length; i++) {
      let dataSrc = srcDefer[i].getAttribute("data-src");
      if (dataSrc) {
        srcDefer[i].setAttribute("decoding", "async"); // Gets image processing off the main working thread
        srcDefer[i].setAttribute("loading", "lazy"); // Lets the browser determine when the asset should be downloaded
        srcDefer[i].setAttribute("src", dataSrc); // Sets the src which will cause the browser to retrieve the asset
        srcDefer[i].setAttribute("data-engrid-data-src-processed", "true"); // Sets an attribute to mark that it has been processed by ENGrid
        srcDefer[i].removeAttribute("data-src"); // Removes the data-source
      }
    }
</script>
